{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
	<h1>Chaziz Migration Tool</h1>
	<p>PokTube-to-squareBracket migration script... done a year late<br>
	The script expects that accounts in a PokTube (or FrameBit-compatible) database were already migrated over to squareBracket, which was already done on the official instance.
	As such, this tool does not have code for converting accounts.</p>
	<table class="table table-striped">
	  <tr>
		<th>Website</th>
		<th>All videos</th>
		<th>All users</th>
		<th>All comments*</th>
	  </tr>
	  <tr>
		<td>squareBracket</td>
		<td>{{ sbVideos }}</td>
		<td>{{ sbUsers }}</td>
		<td>{{ sbComments }}</td>
	  </tr>
	  <tr>
		<td>PokTube (or FrameBit-compatible)</td>
		<td>{{ pokVideos }}</td>
		<td>{{ pokUsers }}</td>
		<td>{{ pokComments }}</td>
	  </tr>
	</table>
	<p>* User and video comments on PokTube are on the same table.</p>
	{% endblock %}
